.favorite {
    min-height: 898px;
    padding: 119px 0 142px 0;
    background: #fff;
    &__title {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 42px;
        letter-spacing: 0.5px;
        color: #212A2F;
        text-align: center;
    }
    &__tabs {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
    }
    &__tab {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #212A2F;
        letter-spacing: 2px;
        margin: 0 65px;
        margin-top: 32px;
        cursor: pointer;
        &_active {
            border-bottom: 2px solid #000;
        }
    }
    &__divider {
        width: 100%;
        height: 2px;
        background: #D3D4D5;
        margin-top: 12px;
        &--small {
            width: 93%;
        }
    }
    &__wrapper {
        margin-top: 34px;
    }
    &__content {
        display: none;
        &_active {
            display: flex;
            justify-content: space-between;
        }
    }
    &__item {
        width: 33%;
        position: relative;
        margin: 0 10px;
        &_name {
            margin-top: 17px;
        }
        &_icon {
            margin-top: 16px;
            span {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.4px;
                color: #212A2F;
            }
        }
    }

    }

        .favorite__item_img{
            &:Hover .button--favorite{
                opacity: 1;
            }
    }